@import "tailwindcss";

@theme {
  --color-primary: #1f1f1f;
  --color-dark: #1e1e1e;
  --color-less-dark: #616162;
  --color-accent: #219be3;
}

* {
  font-family: var(--font-manrope), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 120px; Высота хедера для корректной прокрутки к якорям */
}

body {
  font-family: var(--font-manrope), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
